In [2]:
# Libraries
import sys
import scipy
import numpy as np
import matplotlib
import pandas as pd
import sklearn
import os

from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv(os.path.join("Resources", "fertility_rate.csv"))

sgp=df.loc[df['Country Name']=='Singapore']
sgp.drop(['Country Name','Country Code','Indicator Name','Indicator Code'],axis=1,inplace=True)
sgp = sgp.T
sgp.head()

sgp.dropna(inplace=True)
sgp=sgp.reset_index().rename(columns={206:'fr','index':'year'})

x = sgp.iloc[:, 0].values.reshape(-1, 1)
y = sgp.iloc[:, 1].values.reshape(-1, 1)
model = LinearRegression().fit(x, y)
y_pred = model.predict([[2055]])
y_pred

C:\Users\walla\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

array([[-2.01862717]])

In [4]:
sgp.head()

   year    fr
0  1960  5.76
1  1961  5.41
2  1962  5.21
3  1963  5.16
4  1964  4.97

In [5]:
sgp.tail()

    year    fr
52  2012  1.29
53  2013  1.19
54  2014  1.25
55  2015  1.24
56  2016  1.20